$brown-000: #CFBDA9;
$brown-100: #AC9A86;
$brown-200: #64503E;
$brown-300: #4F3C29;
$heart-color: #C00000;
$courage-color: #E36C0A;
$spirit-color: #00B050;
$positive-color: #92D050;
$negative-color: #943634;
$nice-color: #1F497D;
$excellent-color: #4BACC6;
$unbelievable-color: #8064A2;